.top-player {
  padding: 30px;
}
.title {
  color: #562eff;
  font-size: 24px;
  margin-bottom: 40px;
}
.player img {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}
.player h4 {
  font-size: 18px;
  font-weight: 500;
}
.player {
  margin-bottom: 30px;
}
